<h5 class="text-center">Table row expand and collapse</h5>
<table class="table table-bordered">
  <thead>
  <tr>
    <th></th>
    <th>SL</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let row of data">
    <tr>
      <td (click)="row.isExpand = !row.isExpand">
        <i *ngIf="!row.isExpand" class="bi-chevron-right"></i>
        <i *ngIf="row.isExpand" class="bi-chevron-up"></i>
      </td>
      <td>{{ row.id }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.email }}</td>
    </tr>
    <tr *ngIf="row.isExpand">
      <td colspan="4">
        <table class="table table-sm">
          <thead>
          <th>Address1</th>
          <th>Address2</th>
          </thead>
          <tbody>
          <tr *ngFor="let row2 of row.address">
            <td>{{ row2.add1 }}</td>
            <td>{{ row2.add2 }}</td>
            <td>{{ row2.add2 }}</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
