.prod-card-desc {
  margin-bottom: 5px;

  .mat-card-header-span {
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
  }

  .mat-card-description-span {
    font-size: 12px;
    font-family: Roboto;
    font-weight: 700;
  }
}

.prod-card-sub-title {
  padding-bottom: 0;
  font-family: Roboto;
  font-size: 12px;
  margin-bottom: 5px;
}
.prod-image-slider{
  margin-bottom: 5px;
}
