.login-content {
  width: 550px;
  height: auto;

  .card-container {
    display: flex;
    align-items: center;

    .login-img-card {
      width: 150px;
    }
    .login-input{
      width: 350px;
      padding-bottom: 10px;
    }
    .btn-0login-input{
      display: flex;
      justify-content: end;
      padding: 50px 0px 15px 0px;
    }
  }
}
.bg-img-container{
  background-image: url(../../assets/img/login-bg.jpg);
}
