<div class="row">
  <div class="col-12 main-manu.">
    <mat-tab-group #tabGroup (selectedIndexChange)="mainMenuTabbSelectionChanged($event)" [selectedIndex]=0>
      <mat-tab label="Home">
      </mat-tab>
      <mat-tab label="About" disabled="true">
      </mat-tab>
      <mat-tab label="Login" disabled="true">
        <a href="" routerLink="/login">Login</a>
      </mat-tab>

    </mat-tab-group>
  </div>
  <div class="col-12 main-body">
    <div class="row">
      <div class="col-2">
        side manu
      </div>
      <div class="col-8 header-container" >
        <router-outlet>
        </router-outlet>
      </div>
      <div class="col-2">
        detail tab
      </div>
    </div>

  </div>
  <div class="col-12 main-footer">
    <h3>About page</h3>
  </div>
</div>
<!--<div class="header-container">-->
<!--  <app-header (clickAdd)=clickAdd()>-->
<!--  </app-header>-->
<!--  <app-tasks>-->

<!--  </app-tasks>-->

<!--  <router-outlet>-->

<!--  </router-outlet>-->


<!--  <div>-->
<!--    chart-->
<!--    <canvas id="myChart"></canvas>-->
<!--    <app-chart-js> ddddd </app-chart-js>-->
<!--  </div>-->

<!--  <app-table></app-table>-->
<!--  <app-expand-table></app-expand-table>-->

<!--</div>-->
<!--<app-shop></app-shop>-->

<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->

<!--<script>-->
<!--  const ctx = document.getElementById('myChart');-->

<!--  new Chart(ctx, {-->
<!--    type: 'bar',-->
<!--    data: {-->
<!--      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],-->
<!--      datasets: [{-->
<!--        label: '# of Votes',-->
<!--        data: [12, 19, 3, 5, 2, 3],-->
<!--        borderWidth: 1-->
<!--      }]-->
<!--    },-->
<!--    options: {-->
<!--      scales: {-->
<!--        y: {-->
<!--          beginAtZero: true-->
<!--        }-->
<!--      }-->
<!--    }-->
<!--  });-->
<!--</script>-->
